<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="../static/style.css" type="text/css">
            <title>A New Hope for Yoda</title>
        </head>
        <body>
            <h1>A New Hope for Yoda</h1>
            <div class="center">
                <p>Your mission is to help Grogu and his friends repopulate.</p>
                <p>Decide how many members of the Yoda species will live on Dagobah to start with.</p>

            </div>
        
        </body>
</html>